<!DOCTYPE html>
<html>
  <head>
    <title>Title</title>
  </head>
  <body>
    <h1>Welcome</h1>
    <button id="Start_Button">Start</button>
    <button id="Stop_Button">Stop</button>
    <video id="player" controls autoplay></video>
  </body>

  <script type="text/javascript" src="home.js"></script>
</html>
